    /*
    Flaticon icon font: Flaticon
    Creation date: 10/07/2019 03:36
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-paint:before { content: "\f100"; }
.flaticon-pantone:before { content: "\f101"; }
.flaticon-paint-1:before { content: "\f102"; }
.flaticon-pantone-1:before { content: "\f103"; }
.flaticon-art:before { content: "\f104"; }
.flaticon-paint-roller:before { content: "\f105"; }
.flaticon-graphic-tool:before { content: "\f106"; }
.flaticon-paint-brushes:before { content: "\f107"; }
.flaticon-paint-brush:before { content: "\f108"; }
.flaticon-paint-2:before { content: "\f109"; }
.flaticon-art-1:before { content: "\f10a"; }
.flaticon-pantone-2:before { content: "\f10b"; }
.flaticon-paint-3:before { content: "\f10c"; }
.flaticon-repair:before { content: "\f10d"; }
.flaticon-left-arrow:before { content: "\f10e"; }
.flaticon-right-arrow:before { content: "\f10f"; }
.flaticon-envelope:before { content: "\f110"; }
.flaticon-placeholder:before { content: "\f111"; }
.flaticon-phone:before { content: "\f112"; }
.flaticon-focus:before { content: "\f113"; }
.flaticon-unlink:before { content: "\f114"; }
    
    $font-Flaticon-paint: "\f100";
    $font-Flaticon-pantone: "\f101";
    $font-Flaticon-paint-1: "\f102";
    $font-Flaticon-pantone-1: "\f103";
    $font-Flaticon-art: "\f104";
    $font-Flaticon-paint-roller: "\f105";
    $font-Flaticon-graphic-tool: "\f106";
    $font-Flaticon-paint-brushes: "\f107";
    $font-Flaticon-paint-brush: "\f108";
    $font-Flaticon-paint-2: "\f109";
    $font-Flaticon-art-1: "\f10a";
    $font-Flaticon-pantone-2: "\f10b";
    $font-Flaticon-paint-3: "\f10c";
    $font-Flaticon-repair: "\f10d";
    $font-Flaticon-left-arrow: "\f10e";
    $font-Flaticon-right-arrow: "\f10f";
    $font-Flaticon-envelope: "\f110";
    $font-Flaticon-placeholder: "\f111";
    $font-Flaticon-phone: "\f112";
    $font-Flaticon-focus: "\f113";
    $font-Flaticon-unlink: "\f114";